<div class ="alignn">

  <%= form_for(@recipe, :html => { :multipart => true }) do |f| %>
  <%= f.label :'Recipe Name' %>
  <%= f.text_field :name,pattern:"^[^,]*[^ ,][^,]*$",:maxlength=>"22", :placeholder => 'Acai Bowl Recipe', class: "foodname", autofocus:true %>
  <%= f.label :"Recipe Description"  %>
  <%= f.text_area :food_desc ,class: "fooddesc", :placeholder => 'Acai is one of the best known sources of antioxidants. Antioxidants are plant-based chemicals which are great for overall health and fighting free radicals within the body.' %>
  <div class = "alignn2">
    <%= f.label :prep_time %>
    <%= f.text_field :prep_time, class:"preptime", :placeholder => '10 mins' %>
    <%= f.label :cook_time %>
    <%= f.text_field :cook_time, class:"cooktime" , :placeholder => '20 mins' %>
    <%= f.label :no_of_serves %>
    <!-- <%= f.text_field :no_of_serves , class: "noofserves" , :placeholder => '2 Serves' %> -->
    <%= f.text_field :no_of_serves , pattern:"[1-9]", class: "noofserves" , :placeholder => '2 Serves' %>

  </div>
  <div class="foodty">

    <!-- <%= f.label :recipe_type %>
    <%= f.text_field :recipe_type %> -->

    <%= f.label :recipe_type %>
    <%= f.select :recipe_type, ['Starter', 'Mains', 'Dessert', 'Drinks'], :include_blank => true %>

    <!-- <%= f.label :foodtype_id %>
    <%= f.select :foodtype_id, Foodtype.pluck(:title, :id), :include_blank => true %> -->

    <div class="field">
      <%= f.label "Food Type:" %><br />
      <%= f.collection_check_boxes :foodtype_ids, Foodtype.all, :id, :title do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>


  </div>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients,class: "ingredients" , :placeholder => '4 tbs acai powder,1 cup frozen raspberries' %>
  <%= f.label :procedure %>
  <%= f.text_area :procedure ,class: "procedure" , :placeholder => 'Blend the acai powder, frozen berries, milk, spinach leaves and honey together' %>

  <%= f.label :image %><br>
  <% if @recipe.image.present? %>
    <%=  cl_image_tag(@recipe.id, :class => 'thumb', :transformation=>[
      {:height => 700, :crop=>"scale"},
      {:overlay=>"black_bar",:gravity=>"north", :opacity=>60 , :flags=>"relative", :width=>1, :height=>0.2,:crop=>"scale"},
      {:overlay => "text:Quicksand_30px_bold:#{@recipe.name}",:color=>"white",:gravity => :north_west, :x => 20, :y => 20,:width =>500, :crop => "fit", :flags=>"relative"}
      ])  %>
  <% end %>

  <%= f.file_field :image %>

  <!-- <%= f.label :image %>
  <%= f.url_field :image, :required => true %> -->

  <div class = "origin">
    <%= f.label :country %>
    <%= f.text_field :country %>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
    <label></label>

    <%= f.submit 'Create Recipe', :class => 'btnsubmit' %>
  <% end %>

</div>
