
<h1></h1>

<div class = "alignc">

  <% if @recipe.image.present? %>
    <%=  link_to cl_image_tag(@recipe.id, :transformation=>[
      {:height => 600, :crop=>"scale"},
      {:overlay=>"black_bar",:gravity=>"north", :opacity=>60 , :flags=>"relative", :width=>1, :height=>0.2,:crop=>"scale"},
      {:overlay => "text:Quicksand_30_bold:#{@recipe.name}",:color=>"white",:gravity => :north_west, :x => 20, :y => 20,:width =>500, :crop => "fit", :flags=>"relative"}


      ]) ,@recipe.image  %>
  <% end %>


    <div class = "fooddisp">
      <% if @recipe.foodtypes.present? %>
        <% @recipe.foodtypes.each do |foodtype| %>
              <!-- <p><%= foodtype.shortname %></p> -->
              <div class="tooltip"><%= foodtype.shortname %>
                <span class="tooltiptext"><%= foodtype.title %></span>
              </div>
        <% end %>
      <% end %>
    </div>




      <main>
          <p><%= @recipe.food_desc %></p>
          <p>Origin: <%= @recipe.city %>, <%= @recipe.country %></p>
      </main>

      <aside>
        <div class = "asideTop">
          <p><%= fa_icon "apple", text: "Recipe Type: " %><%= @recipe.recipe_type %></p>
          <p><%= fa_icon "hourglass", text:"Prep time: " %><%= @recipe.prep_time %></p>
        </div>

        <div class = "asideBottom">
          <p><%= fa_icon "hourglass-end", text:"Cook time: "%><%= @recipe.cook_time %></p>
          <p><%= fa_icon "spoon", text:"No of serves: "%><%= @recipe.no_of_serves %></p>
        </div>

      </aside>
    </div>

    <p><strong>Ingredients:</strong></p>
    <% ingredients = @recipe.ingredients.split(",") %>

    <% ingredients.each do |ingredient| %>
      <p><%= fa_icon "caret-right"%> <%=    ingredient %></p>
    <% end %>

    <p><strong>Procedure:</strong></p>

    <% procedures = @recipe.procedure.split(".") %>
      <ol>
        <% procedures.each do |procedure| %>
        <li><%= procedure %>.</li>
        <% end %>
      </ol>

  <div class = "controls">
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe)  %>
    <%= link_to 'Delete Recipe', @recipe, :method => 'delete', :data =>{:confirm =>'Are you sure ?'}%>

  </div>

</div>
