<!-- FORM HELPER form_for -->
<%= form_for @foodtype do |f| %>
<div class = "formlog">

  <%= f.label :shortname %>
  <%= f.text_field :shortname, :autofocus => true %>

  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>
  <label></label>
  <%= f.submit :class => 'btnlogin' %>
</div>

<% end %>
